@charset "utf-8";
/* CSS Document */
.flexbox:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.sectiontitle { position: relative; }
.sectiontitle a { position: absolute; top: 0; z-index: 9 }
.sectiontitle a:first-child { left: 0; display: inline-block }
.sectiontitle a:last-child { right: 0; display: inline-block }
.sectiontitle span { margin: 0 2em; position: relative; z-index: 1 }
.menu { font-size: .68em; }
.tabbox H2 { display: block; float: left; width: 25% }
.tabinner.tabbox H2 { width: 50% }
.language li { display: inline-block; width: 19% }
.button .icon-mask { vertical-align: text-bottom }
.formdetail.flex1 { float: left; width: 50%; }
.fastmenu .flex1 { display: block; float: left; width: 50% }
@media only screen and (min-width : 480px) {
.page li { display: inline-table; width: 13.8% }
.searchbox .formdetail.flex1 { width: 70% }
}
@media only screen and (max-width : 480px) {
.searchbox .formdetail.flex1 { float: none; width: auto }
}
