@charset "utf-8";
/* CSS Document */
/*************
    unique
**************/
.wrapper, .wrapper-login { position: relative; margin: 0 auto; }
.wrapper, .headfixed { max-width: 90%; min-width: 900px; }
.wrapper-login { margin: 0 auto; width: 320px; }
/* Smartphones */
@media only screen and (max-width : 480px) {
.wrapper, .headfixed { max-width: none; min-width: 0; }
.wrapper-login { margin: 0; width: auto; }
}
.logo { margin: 0 auto; text-align: center; }
.logo img { max-width: 100% }
/*popwin*/
.shadow-mobile { display: none; background: rgba(0,0,0,.3); position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 2; }
/*login box*/
.loginbox.formdetail label { display: block; margin-bottom: .2em }
.loginbox.formdetail input { width: 100%; }
.language-login .icon-nomask { width: 2.6em; height: 2.6em; margin: 0 auto .6em }
.language-login .menu { background: none; }
.language-login .menu li { background: none; text-shadow: none; padding-bottom: .4em }
.language-login .menu li.selected { background: none; color: #333 }
/* section title*/
.sectiontitle a { position: absolute; top: 0; z-index: 2 }
.sectiontitle a.icon-th-menu { left: 0 }
.sectiontitle a.icon-earth { right: 0 }
.sectiontitle span { margin: 0 2em; }
/*fast menu for mobile*/
.fastmenu { display: none }
.fastmenu ul li { text-align: center; padding: 1em }
.fastmenu ul li:hover, .fastmenu ul li:active { background: #eee }
.fastmenu ul li:first-child { border-bottom: 1px dashed #ccc; }
.fastmenu ul:first-child li { border-right: 1px dashed #ccc }
.fastmenu .icon-mask { font-size: 4em; color: #888; margin: 0 auto .1em }
.fastmenu ul li:hover .icon-mask, .fastmenu ul li:active .icon-mask { color: #444 }
@media only screen and (max-width : 480px) {
.fastmenu { display: block }
}
/*page jump menu*/
.page { background: #222; }
.page .menu { text-align: center }
@media only screen and (max-width : 480px) {
.page { display: none; z-index: 10 }
.page { position: absolute; width: 100%; }
.page li { text-align: left; border-bottom: 1px solid #666; padding: 0; width: auto }
.page li a { padding: 1em; }
}
.page li { width: 14%\0; display: block\0; float: left\0 }/*ie8/9 hack*/
@media only screen and (max-width : 480px) {/* Smartphones */
.page li { width: auto\0; display: block\0; float: none\0 }/*ie8/9 hack*/
}
.tab4c h2, .tab2c h2 { display: inline-block\0; float: left\0; }
.tab4c h2 { width: 25%\0 }
.tab2c h2 { width: 50%\0 }
.tabcontain2c > li { display: inline-block; float: left; width: 50% }
.tabcontain2c > li:first-child { padding-right: 1em }
@media only screen and (max-width : 480px) {/* Smartphones */
.tabcontain2c > li { display: block; float: none; width: auto }
}
.formdetail.flex1 { display: inline-block\0; width: 45%\0 }
